<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo hide-on-med-and-down">Система управления</a>
    <ul id="nav-mobile" class="right">

      {{#if isIndex}}
      <li class="active"><a href="/">Записи</a></li>
      {{else}}
      <li><a href="/">Записи</a></li>
      {{/if}}

      {{#if isClients}}
      <li class="active"><a href="/clients">Клиенты</a></li>
      {{else}}
      <li><a href="/clients">Клиенты</a></li>
      {{/if}}

      {{#if isCreate}}
      <li class="active"><a href="/create">Добавить клиента</a></li>
      {{else}}
      <li><a href="/create">Добавить клиента</a></li>
      {{/if}}

    </ul>
  </div>
</nav>