<nav>
  <div class="nav-wrapper red darken-3">
    <a href="/" class="brand-logo hide-on-med-and-down"></a>
    <ul id="nav-mobile" class="right">

      {{#if isIndex}}
      <li class="active col s4"><a href="/">Записи</a></li>
      {{else}}
      <li class="col s4"><a href="/">Записи</a></li>
      {{/if}}

      {{#if isClients}}
      <li class="active col s4"><a href="/clients">Пациенты</a></li>
      {{else}}
      <li class="col s4"><a href="/clients">Пациенты</a></li>
      {{/if}}

      {{#if isCreate}}
      <li class="active col s4"><a href="/create">Добавить пациента</a></li>
      {{else}}
      <li class="col s4"><a href="/create">Добавить пациента</a></li>
      {{/if}}

    </ul>
  </div>
</nav>