<h2>Клиенты</h2>
<form action="/inpName" id="inpNam" method="POST">
<div class="input-field col s12">
  
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate inpName" name = "val" oninput="inpName(this.value)" value="{{val}}" autofocus>
          <label for="icon_prefix">Имя пациента</label>
          
        </div>
</form>
{{> list}}