<form action="/create" method="POST">
  <h2>Добавить клиента</h2>

  <div class="input-field">
    <input type="text" name="name" placeholder="Имя клиента">
    <input type="text" name="phone" placeholder="Номер клиента">

  </div>

  <button type="submit" class="btn">Добавить</button>
</form>