.todo {
  margin-bottom: 1rem;
}

.todo span.completed {
  text-decoration: line-through;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #f3f3f3;
  padding: 1rem;
}

.visit{
  background: #f3f3f3;
  padding: 1rem;
}

.bigFont{
  font-size:200%;
}

.srFont{
  font-size:150%;
}

.todo i {
  z-index: 2;
}

#newVisit{
  display: none;
}

.timeVisit{
  font-size: 200%;
}

button{
  margin-top:5px;
}

label{
  margin-top: 5px;
}

